<div class="solutions">

  <div class="solutions-content fade-in" #fadeInRef>
    <div class="solution-cards">
      <mat-card class="solution-card black" appearance="outlined">
        <mat-card-header>
          <div class="solution-card-header black">
            <p class="solution-expertise">Especialidade</p>
            <div>
              <img class="solution-image" src="assets/images/heinen+desenvolvedor.png" alt="Heinen + Desenvolvedor">
            </div>
            <p>Heinen</p>
            <p><strong>Desenvolvedor</strong></p>
          </div>
        </mat-card-header>

        <mat-card-content>
          <p> Conte comigo como desenvolvedor garantindo um <strong>desenvolvimento de alta performance.</strong></p>
          <p>Minha atuação abrange:</p>

          <li>Criação de soluções completas para <strong>web, apps e desktop</strong>, adaptáveis a diversas demandas.</li>
          <li>Desenvolvimento <strong>front-end e back-end com foco rigoroso em qualidade e performance.</strong></li>
          <li>Implementação de <strong>interfaces intuitivas e processos robustos</strong>, assegurando uma experiência de usuário excepcional.</li>
        </mat-card-content>

        <mat-card-actions>
          <div class="solution-card-actions">
            <a class="solution-button black" href="" target="_blank">
              <span>Tenho um <br> projeto <strong>interessante</strong></span>
            </a>
          </div>
        </mat-card-actions>
      </mat-card>

      <mat-card class="solution-card fade-hover" appearance="outlined">
        <mat-card-header>
          <div class="solution-card-header orange">
            <div>
              <img class="solution-image" src="assets/images/heinen+consultor.png" alt="Heinen + Consultor">
            </div>
            <p>Heinen</p>
            <p><strong>Consultor</strong></p>
          </div>
        </mat-card-header>

        <mat-card-content>
          <p> Como consultor, ofereço análises estratégicas para <strong>otimização de processos empresariais e melhoria da eficiência operacional.</strong></p>
          <p>Minha atuação abrange:</p>

          <li><strong>Melhoria no uso de tecnologias</strong> pelos colaboradores, potencializando a produtividade.</li>
          <li><strong>Implementação de soluções robustas em segurança digital</strong>, protegendo dados e operações.</li>
          <li>Consultoria integral para <strong>melhorar o UX e UI</strong> do seu site ou ferramenta de trabalho que gera resultados mensuráveis.</li>
        </mat-card-content>

        <mat-card-actions>
          <div class="solution-card-actions">
            <a class="solution-button orange" href="" target="_blank">
              <span>Quero conversar <br> <strong>sem compromisso</strong></span>
            </a>
          </div>
        </mat-card-actions>
      </mat-card>

      <mat-card class="solution-card fade-hover" appearance="outlined">
        <mat-card-header>
          <div class="solution-card-header green">
            <div>
              <img class="solution-image" src="assets/images/heinen+analista.png" alt="Heinen + Analista">
            </div>
            <p>Heinen</p>
            <p><strong>Analista</strong></p>
          </div>
        </mat-card-header>

        <mat-card-content>
          <p> Atuo como <strong>analista especializado em gerenciamento de dados</strong>, oferecendo serviços que potencializam a eficiência e a clareza das informações empresariais.</p>
          <p>Minha expertise abrange:</p>

          <li><strong>Estruturação, otimização e manutenção de bancos de dados</strong> robustos.</li>
          <li><strong>Extração e análise de relatórios</strong> estratégicos para decisões fundamentadas.</li>
          <li><strong>Organização, conversão e controle de dados</strong> com precisão e agilidade.</li>
        </mat-card-content>

        <mat-card-actions>
          <div class="solution-card-actions">
            <a class="solution-button green" href="" target="_blank">
              <span><strong>Vamos analisar</strong> <br> algumas coisas</span>
            </a>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="solutions-footer fade-in" #fadeInRef>
    <div class="solutions-next-step">
      <mat-icon class="solutions-next-step-icon" aria-hidden="false" aria-label="Next Step" fontIcon="keyboard_double_arrow_down"></mat-icon>
      <span>Mantenha <br> contato</span>
    </div>
  </div>
</div>

