html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto Light", "Helvetica Neue", sans-serif;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.fade-hover {
  opacity: 0.4;
  transition: opacity 0.6s ease;
}

.fade-hover:hover {
  opacity: 1;
}

.app-content {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.section {
  scroll-snap-align: start;
  height: calc(100vh - 64px);
}

::-webkit-scrollbar {
  width: 8px;
  height: auto;
}

::-webkit-scrollbar-track {
  background: #FFF;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #595959;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #224165;
}
