<div class="app-content">
  <app-heinen-toolbar></app-heinen-toolbar>

  <div id="home" class="section">
    <app-heinen-home></app-heinen-home>
  </div>

  <div id="professional" class="section">
    <app-heinen-professional></app-heinen-professional>
  </div>

  <div id="projects" class="section">
    <app-heinen-projects></app-heinen-projects>
  </div>

  <div id="solutions" class="section">
    <app-heinen-solutions></app-heinen-solutions>
  </div>

  <div id="contact" class="section">
    <app-heinen-contact></app-heinen-contact>
  </div>

  <p class="create-by">© 2025 by HEINEN</p>
</div>
