.projects {
  height: 100%;

  .projects-content {
    height: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .project-cards {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      width: 100%;
      overflow-x: auto;
      white-space: nowrap;
      margin: 0 1rem;
      padding-bottom: 1rem;
    }

    .project-card {
      min-width: 20rem;
      max-width: 20rem;
      height: 30rem;
      white-space: normal;
      background-color: #FFF;
      border-radius: 5px;

      .project-card-header {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .project-image {
          width: 100%;
          height: 4rem;
          object-fit: cover;
        }

        p {
          margin: 0.5rem 0;
          font-weight: 600;
        }

        .project-working {
          background-color: #ffa500;
          padding: 0.2rem 0.5rem;
          border-radius: 5px;
          color: #000;
          font-size: 0.9rem;
          font-weight: 500;
          margin-top: -12px;
          margin-left: -11rem;
        }
      }

      .project-card-actions {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        .project-button {
          padding: 0.8rem 1rem 0.8rem 1rem;
          border-radius: 5px;
          text-decoration: none;
          cursor: pointer;
          color: #FFF;
          background-color: #224165;
          font-size: 1rem;
          font-weight: bold;
        }
      }

      p, li {
        color: #595959;
      }

      p strong {
        color: #224165;
        font-size: 1.1rem;
      }
    }
  }

  .projects-footer {
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .projects-next-step{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 1rem 3rem 1rem 3rem;
      border: 1px dashed #595959;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
      color: #595959;

      .projects-next-step-icon {
        width: 1.8rem;
        height: 1.8rem;
        font-size: 1.8rem;
        align-self: start;
      }

      span {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #FFF;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #595959;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #224165;
}

@media (min-width: 920px) {
  .projects {
    .projects-content {
      .project-card {
        min-width: 25rem;
        max-width: 25rem;

        .project-card-header {
          .project-image {
            height: 5rem;
          }

          .project-working {
            margin-left: -16rem;
          }
        }
      }
    }

    .projects-footer {
      .projects-next-step{
        .projects-next-step-icon {
          width: 3rem;
          height: 3rem;
          font-size: 3rem;
          align-self: center;
        }

        span {
          font-size: 1.2rem;
        }
      }
    }
  }
}
