<div class="home">

  <div class="home-content">
    <div class="home-text fade-in" #fadeInRef>
      <p>Consultoria, análise e <br> desenvolvimento da <br> sua <strong>solução de forma <br> simples e inteligente</strong></p>
    </div>

    <div class="home-image fade-in" #fadeInRef>
      <img src="assets/images/logo.png" alt="Heinen">
    </div>
  </div>

  <div class="home-footer fade-in" #fadeInRef>
    <div class="home-next-step">
      <mat-icon class="home-next-step-icon" aria-hidden="false" aria-label="Next Step" fontIcon="keyboard_double_arrow_down"></mat-icon>
      <span>Curiosidades</span>
    </div>
  </div>
</div>
