.professional {
  height: 100%;

  .professional-content {
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    text-align: left;

    .professional-text {
      max-width: 600px;
      font-size: 1rem;
      color: #224165;
      padding: 0 1rem;
    }

    .professional-image {
      display: flex;
      flex-direction: column;
      text-align: center;

      .professional-logo {
        width: 50px;
        height: auto;
      }

      .professional-profile {
        width: 150px;
        height: auto;
        align-self: center;
      }

      .professional-profile-text {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1rem;

        p {
          font-weight: 700;
          font-size: 1.3rem;
          color: #224165;
          text-transform: uppercase;
        }
      }

      p {
        font-size: 1.1rem;
        color: #595959;
        margin: 0;
      }
    }
  }

  .professional-footer {
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .professional-next-step{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 1rem 3rem 1rem 3rem;
      border: 1px dashed #595959;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
      color: #595959;

      .professional-next-step-icon {
        width: 1.8rem;
        height: 1.8rem;
        font-size: 1.8rem;
        align-self: start;
      }

      span {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}

@media (min-width: 920px) {
  .professional {
    .professional-content {
      flex-direction: row;
      gap: 3rem;

      .professional-text {
        font-size: 1.3rem;
      }

      .professional-image {
        display: flex;
        flex-direction: column;
        text-align: center;

        .professional-logo {
          width: 85px;
        }

        .professional-profile {
          width: 350px;
        }

        p {
          font-size: 1.1rem;
        }
      }
    }

    .professional-footer {
      .professional-next-step{
        .professional-next-step-icon {
          width: 3rem;
          height: 3rem;
          font-size: 3rem;
          align-self: center;
        }

        span {
          font-size: 1.2rem;

        }
      }
    }
  }
}


